<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <h1>[SHNY]💎🐀</h1>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="navList">
        <li>
          <a href="#!">Home</a>
        </li>
        <li>
          <a href="#!">About</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Guild info</a>
            <li>
              <a href="#!">Fashion wars</a>
            </li>
            <li>
              <a href="#!">News</a>
            </li>
        </li>
      </ul>
      </li>
      <li>
        <a href="#!">Feedback</a>
      </li>
      <li>
        <a class="applyBtn" href="#!">Apply</a>
      </li>
      </ul>
    </nav>
  </div>
</section>