<header>
  <nav>
    <div class="nav-mobile">
      <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <!-- <h1 class="logo">[SHNY]💎🐀</h1> -->
    <ul class="navList">
      <li>
        <a href="#!">Home</a>
      </li>
      <li>
        <a href="#!">About</a>
        <ul class="nav-dropdown">
          <li>
            <a href="#!">Guild info</a>
          <li>
            <a href="#!">Fashion wars</a>
          </li>
          <li>
            <a href="#!">News</a>
          </li>
      </li>
    </ul>
    </li>
    <li>
      <a class="applyBtn" href="#!">Apply</a>
    </li>
    <li>
      <a href="#!">Feedback</a>
    </li>
    <!-- <li class="nav-item current"><a href="index.html">Home</a></li>
    <li class="nav-item"><a href="about.html">About</a></li>
    <li class="nav-item"><a href="fashion.html">Fashion Skritt</a></li>
    <li class="nav-item"><a href="blog.html">News</a></li>
    <li class="nav-item"><a href="apply.html">Apply</a></li>
    <li class="nav-item"><a href="feedback.html">Feedback</a></li> -->
    </ul>
  </nav>
</header>