$primary-color: #1e0b51;
$secondary-color: #CDF4DC;
$tertiary-color: #01949A;
$quaternary-color: #CD0046;

footer {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin-top: auto;
  width:100%;
  height:50px;

  .footerDiv {
    margin: 15px 0 8px 0;
      a {
        color: #A3EBB1;
    }
  }
}

//mobile code

@media only screen and (max-width: 600px) {
  footer {
    font-size: 0.8rem;
  }
} 