header {
    font-family: 'Roboto', sans-serif;
    background-color:#1e0b51;
    position: fixed;
    z-index: 999;
    width: 100%;
    top:0px;
    color: #F2EEF7;

    li {
        list-style: none;
        
        a {
        color: #F2EEF7;
        text-decoration: none;
        }
    }

    
}   