//start code

.navigation {
  position: fixed;
  z-index: 999;
  width: 100%;
  top:0px;
  left: 0px;
  height: $nav-height;
  background: darken($primary-color, 5%);
}

.brand {
  padding-left: 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4em;
  white-space: nowrap; // so the logo doesn't go down when squeezed
  h1 {
    margin:auto;
    padding-top: 3px;
  }
}

nav {
  ul {
    list-style: none;
    padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 10px 20px;
        line-clamp: $nav-height;
        background: darken($primary-color, 5%);
        color: $secondary-color;
        text-decoration: none;
        &:hover {
          background: $quaternary-color;
          color: $secondary-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: "\25bc";
        }
      } // Dropdown

      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px
        }
      }
    }
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: $content-width;
  margin: 0 auto;
}

//apply button on navbar

.applyBtn {
  background-color: $tertiary-color ;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: 800;
  &:hover {
    color: $secondary-color;
  }
}

//dropdown list

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

//mobile nav

.nav-mobile {
  display:none;
  position: absolute;
  top: 0;
  right: 0;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
  .brand{
    padding-top: 5px;
    font-size: 1.2em;
  }
  .nav-mobile {
    display: block;
  }
  .nav-dropdown {
    position: static;
  }
  nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      margin: 0;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 20px;
        }
      }
    }
  }

  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: $secondary-color;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.active span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
