// start code

.my-definition {
  font-size: 1.2em;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: $secondary-color;
    background-color: darken($primary-color,5%)
  }

  article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
    height: 100%;
}

  h1, h2 {
    font-size: 1.8em;
    font-family: 'Play', sans-serif;
    color: $secondary-color;
  }

  h3, h4 {
    font-size: 1.6em;
    font-family: 'Play', sans-serif;
    color: $tertiary-color;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
  }

p{
  line-height: 20px;
  margin: 5px 0 5px 0;
}

.navBackgroundbreak { //img below the nav to 'break' the backgrouds from nav and content
  img {
    width: 100%;
  }
}

.bottomEmblem {
  img {
   margin: 15px auto;
   display: block;
 }
}

.content {
  margin: 0 25% 0% 25%;

  .aboutPage {
     margin-bottom: 25px;
  }
  span {
    color: $tertiary-color;
    font-weight: 700;
  }
  .altSpanColor {
    color: $quaternary-color;
    font-weight: 800;
  }
  form {
    line-height: 30px;
    .submitButton {
      background-color: $tertiary-color;
      color: $secondary-color;
      height: 50px;
      width: 120px;
      margin: 15px 0 15px 0;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
     }

    .userMessage {
      display: block;
      height: 120px;
      width: 450px;
    }

  }

  // fashion skritt page
  .gallery {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .imageContainer {
      position: relative;
      margin-bottom: 20px;

      img {
        width: 450px;
        height: 250px;
      }

      .imageContentInfo {
        text-align: center;
        width: 120px;
        right: -9px;
        position: absolute;
        bottom: -5px;
        background-color: rgba(lighten($quaternary-color, 2), 0.6);

        .fashionTheme {
          margin-bottom: 0;
        }
      }
    }
  }

  ul{
    li {
      line-height: 20px;
      margin-bottom: 20px;
      list-style: square;
      span {
        font-weight: 900;
        color: $tertiary-color;
      }
    }
  }

  .newsTitle {
    text-decoration: underline;
    color: $secondary-color;
  }
}

@media only screen and (max-width: $breakpoint) {
  .navBackgroundbreak {
    margin-top: 30px; //img below the nav to 'break' the backgrouds from nav and content
    img {
      width: 100%;
    }
  }

  .content {
    margin: 0 10% 0 10%;
    .gallery {
    .imageContainer {
      position: relative;
      margin-bottom: 20px;

      img {
        width: 280px;
        height: 180px;
      }

      .imageContentInfo {
        height: 80px;
        .fashionTheme {
          margin-top: 10px;
        }
      }
    }
  }

    form {
      line-height: 30px;
      .userMessage {
        // display: block;
        height: 120px;
        width: 250px;
      }
    }
  }
}
