// start content
.my-definition {
  font-size: 1.2em;
}

html {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #F2EEF7;
    background-color: #FF2768;
  }
  
  h1 h2 {
    font-family: 'Muli', sans-serif;
    color: #1B4A56
  }
  
  h3 h4 {
    font-family: 'Muli', sans-serif;
    color: #F2EEF7;
  }
  
  a {
    color: #A3A3B7;
  }
  