// start content

//variables
$primary-color: #130170;
$secondary-color: #CDF4DC;
$tertiary-color: #01949A;
$quaternary-color: #CD0046;


.my-definition {
  font-size: 1.2em;
}

html {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #F2EEF7;
    background-color: $quaternary-color;
    background-image: url('/images/skrittbigpink.png');
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1 h2 {
    font-family: 'Muli', sans-serif;
    color: $tertiary-color;
  }
  
  h3 h4 {
    font-family: 'Muli', sans-serif;
    color: $secondary-color;
  }
  
  a {
    color: $primary-color;
  }
   