// start code

.my-definition {
  font-size: 1.2em;
}

html, body {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #F2EEF7;
    background-color: darken($primary-color,5%)
  }
  
  article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
    height: 100%;
}

  h1, h2 {
    font-size: 1.8em; 
    font-family: 'Play', sans-serif;
    color: $secondary-color;
  }
  
  h3, h4 {
    font-size: 1.6em;
    font-family: 'Play', sans-serif;
    color: $tertiary-color;
  }
  
  a {
    color: $primary-color;
  }

p{
  line-height: 20px;
}

.navBackgroundbreak { //img below the nav to 'break' the backgrouds from nav and content
  img {
    width: 100%;
  }
}

.content {
  margin: 0 25% 0 25%;
.skrittEmblem {
  margin: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  span {  
    color: $tertiary-color;
  }
  .applicationOpen {
    color: $quaternary-color;
    font-weight: 800;
  }
  form {
    line-height: 30px;
    .submitButton {
      background-color: $tertiary-color;
      color: $secondary-color;
      height: 50px;
      width: 80px;
      margin: 15px 0 15px 0;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
     }
    .userMessage {
      display: block;
      height: 120px;
      width: 450px;
    }
   
  }
  // fashion skritt page
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .imageContainer {
      position: relative;
      margin-bottom: 20px;
      .imageContentInfo {
        // display: flex;
        position: absolute;
        bottom: 20px;
        background-color: rgba(lighten($tertiary-color, 2), 0.4);
        // color: $secondary-color;
      }
    }
   
  }
}

ul{ 
  :last-child {
    list-style: none;
  }
  li {
    margin-bottom: 20px;
    span {
      font-weight: 900;
    color: $tertiary-color;
    }
  }
}

  

