<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Play&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="https://kit.fontawesome.com/ef8e4676e0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="./scripts/scripts.js"></script>
  <title>[SHNY]</title>
</head>

<body>
  <article>
    {% include nav.html %}
    <main>
      {{content}}
    </main>

  </article>
</body>

</html>